.add_form{
    border: 2px dashed blue;
    width: 30%;
    height: 450px;
    margin-left: 35%;
    margin-top: 120px;
    background-color: rgb(18, 174, 217);
    box-shadow: 0px 0px 1000000px lime;
}
body{
    margin: 0px;
    background-image: url(зп3.jpg);
}
input{
    width: 40px;
    transition: width 0.1s linear;
    padding: 5px;
}
input:focus{
    width: 200px;
}
form{
    color: blueviolet;
    font-size: 20px;
    padding: 60px;
    font-family: 'Sigmar One', cursive;
}
button{
    padding:7px;
    background: black;
    color: white;
    border:0;
    border-radius: 500px;
}