.modal1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: center;
    margin-top: 5%;
    margin-left: px;
    display: flex;
    align-items: absolute;
    justify-content: center;
}
.for_input{
    width: 30vw;
    height: 65vh;
    background-color: #e8e3ff;
}


