.menu{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter{
    width: 350px;
    height: 600px;
    border: 1px solid black;
    position: fixed;
    top: 18vh;
    left: 35px;
}

.tovari{
    min-height: 80vh;
    width: 70vw;
    background-color: rgba(188, 221, 249, 0.283);
    float: right;
    margin-right: 30px;
    margin-top: 8vh;

}

.modal1{
    padding: 100px;

}